.my-header {
    background-color: #323050;
}
   
#five-day {
 font-size: 30px;
 text-decoration: underline;
 font-weight: bolder;
 color: #323050;
}
  
.daily-container {
  background-color: #323050;
  color: whitesmoke;
}


#daily-container1 { 
  background-color: #2674b9;
  color: whitesmoke;
  border: 3px solid black;
  
}

#daily-container3 {
  background-color: #2674b9;
  color: whitesmoke;
  border: 3px solid black;
  
} 

#daily-container5 {
  background-color: #2674b9;
  color: whitesmoke;
  border: 3px solid black;
}




@media screen and (max-width: 1000px) { 
    .ajax-section .cities {
      grid-template-columns: repeat(3, 1fr);
    }
  }
   
  @media screen and (max-width: 700px) {
    .ajax-section .cities {
      grid-template-columns: repeat(2, 1fr);
    }
  }
   
  @media screen and (max-width: 500px) {  
    .ajax-section .cities {
      grid-template-columns: repeat(1, 1fr);
    }
  }